<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
  <h2>BHI Viajes</h2>
  <button ion-button (click)="addViaje()">+ Viaje</button>
  <hr>
  <!-- <ion-input type="text" placeholder="Filtro" class="white-background"></ion-input> -->

 <ion-card *ngFor="let viaje of viajes | async" (click)="selectViaje(viaje)">
   <img src="{{viaje.image}}" />
   <div class="price">{{viaje.price}}</div>
   <div class="en-curso" *ngIf="displayEnCuro(viaje)">EN CURSO</div>
   <ion-card-content>
     <ion-card-title>
        {{viaje.name}}
     </ion-card-title>
      <p>{{viaje.summary}}<br/>Salida:  {{viaje.departureDate.toDate().toLocaleDateString()}}</p>
   </ion-card-content>
 </ion-card>
</ion-content>
